name: linters

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  linters:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code with full history
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Read .tool-versions
        uses: marocchino/tool-versions-action@18a164fa2b0db1cc1edf7305fcb17ace36d1c306 # v1.2.0
        id: versions

      - name: Install a specific version of uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          version: "${{ steps.versions.outputs.uv }}"
          python-version: "${{ steps.versions.outputs.python }}"
          enable-cache: true

      - name: Install dependencies
        run: uv sync --frozen

      - name: Lint with Ruff
        run: uv run ruff check --output-format=github .
        continue-on-error: false

      - name: Check formatting with Ruff
        run: uv run ruff format --check .
        continue-on-error: false

      - name: Type checking on src with Pyright
        run: uv run pyright ./src
        continue-on-error: false
